body {
    font-family: Roboto, Arial;
    color: #fff;
    background-color: #303030;
    width: 100%;

}

header {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}


p {
    margin: 0;
}

h1 {
    color: #c8ff7f;
    margin: 2.5rem 0;
}

.add-button,
.edit-button,
.delete-button,
.update-button {
    font-size: 16px;
    font-weight: 600;
    margin-right: 12px;
    margin-bottom: 10px;
    padding-left: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 18px;
    background-color: #c8ff7f;
    border-style: none;
    border-radius: 30px;
    color: #303030;
}

.add-button:hover,
.edit-button:hover,
.delete-button:hover,
.update-button:hover {
    cursor: pointer;
    background-color: rgb(199, 255, 125);
    transition: opacity 0.25s;
}

.add-button:active,
.edit-button:active,
.delete-button:active,
.update-button:active {
    background-color: rgb(70, 250, 190);
}

/* fill in this one to create a tooltip showing that the user has to re-select the date */
.update-button:hover { 

}

.item-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox {
    margin-right: 18px;
    size: 20px;
    border-radius: 50%;
}

.text-field {
    max-width: 70%;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-field-title {
    font-size: 1.1rem;
}

.text-field-title p {
    color: #c8ff7f;
}

.item-line-buttons {
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
}

.done,
.item-line {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 2vw;
}
.todo-due-date,
.input-textfield {
    font-size: 16px;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    border: rgb(95, 95, 95) solid;
    color: aliceblue;
    background-color: rgb(70, 70, 70);
    border-radius: 12px;
    border-width: 1px;
}

.input-textfield::placeholder {
    color: aliceblue;
    font-style: italic;
    opacity: 0.7;
}

.todo-due-date-label {
    margin-top: 12px;
    margin-bottom: 12px;
}

.input-textfield {
    min-width: 200px;
    max-width: 200px;
}

#user-input {
    min-width: 280px;
    max-width: 280px;
}
    

.todo-due-date {
    margin: 10px;
}

.done {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: rgba(124, 252, 92, 0.8);
    color: rgb(56, 56, 56);
    font-style: italic;
}

#date-picker {
    margin-bottom: 20px;
}
