@media (min-width: 800px) {
    .item-line-buttons {
        flex-direction: row !important;
        margin-left: 10px;
    }

    .text-field-editing {
        flex-direction: column;
    }

    .input-textfield {
        max-width: 200px;
    }

    #user-input {
        max-width: 250px;
    }
}
